<!DOCTYPE html>
<div class="row" style="text-align: center">
    <div class="span6">
        <h3>Contact details</h3>
        Postal address:
        <br/><br/>
        <address>
            <strong>SciSerTec</strong><br/>
            Dr. Daniel Wicke<br/>
            Hildesheimer Str. 84<br/>
            D-30169 Hannover <br/><br/>
            <abbr title="Phone">P:</abbr> +49 (0)511 - 10 54 894 <br/>
            <abbr title="Fax">F:</abbr> +49 (0)511 - 23 52 797 <br/><br/>
            E-Mail: <a href="mailto:team@scisertec.de">team@scisertec.de</a>
        </address>
        <hr/>
        Branch office at the Hannover Medical School (MHH):
        <br/><br/>
        <address>
            <strong>SciSerTec</strong><br/>
            c/o Kongress- und Veranstaltungsmanagement<br/>
            Gebaeude W2B (Haus B), Ebene 01<br/>
            Carl-Neuberg-Str. 1<br/>
            D-30625 Hannover
        </address>

        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=202687465971232598239.0004d51e9c1e413d6646c&amp;ie=UTF8&amp;t=h&amp;ll=52.383452,9.808227&amp;spn=0.002292,0.00456&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=202687465971232598239.0004d51e9c1e413d6646c&amp;ie=UTF8&amp;t=h&amp;ll=52.383452,9.808227&amp;spn=0.002292,0.00456&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">SciSerTec GbR</a> on a larger map.</small>
    </div>
    <div class="span6">
        <h3>Dr. Daniel Wicke, CEO</h3>

        <div class="daniel_wicke" style="float: left; margin: 0 20px 20px 0;">
        </div>
        <p class="text">
            Dr. Daniel Wicke studied Molecular Biotechnology at the University of Bielefeld and the University of
            Sydney in Australia. After graduating, he did a doctor’s degree in bio-chemistry at the Hannover Medical
            School as well as the Cincinnati Children's Hospital Medical Center in the USA. At present, Daniel
            Wicke works as a project manager and Business Development Manager at Hannover Clinical Trial Center
            GmbH at the MHH. In the year 2006, Daniel Wicke founded the business dw-websites, which has recently
            merged into the new company SciSerTec
        </p>

        <hr/>

        <h3>Malte Bruweleit, IT-Engineer</h3>

        <div class="malte_bruweleit" style="float: left; margin: 0 20px 20px 0;">
        </div>
        <p class="text">
            Malte Bruweleit studied Applied Computer Science at the University of Applied Science in Hannover
            and at the University of Applied Sciences (HAW) in Hamburg. Points of emphasis of his activity are dynamic
            web design, software development and internet security in the field of Life Science. Since 2008, he worked
            as a developer for dw-websites. In 2013, Malte Bruweleit joined the new company SciSerTec as co-founder.
        </p>
    </div>
</div>