<!DOCTYPE html>
<div class="row">
    <div class="span12">
        <h3>Company details</h3>
        <address>
            <strong>SciSerTec GbR</strong><br/>
            Dr. Daniel Wicke<br/>
            Hildesheimer Str. 84<br/>
            D-30169 Hannover
        </address>
        Sales tax ID.-No.: DE286316494
    </div>
</div>
<hr/>
<div class="row">
    <div class="span6">
        <h4>Notice of liability:</h4>

        <p style="text-align: justify">
            Despite of thorough review concerning the content, we do not accept liability for the content of
            external links. Only the respective operators are responsible for the content of their linked websites.
        </p>
    </div>
    <div class="span6">
        <h4>Use of data:</h4>

        <p style="text-align: justify">
            The contact details given in the sections "company details" and "contact" are to be used exclusively
            for establishing contacts with regard to content and legal questions. The use of these data for
            advertising purposes is forbidden.
        </p>
    </div>
    <div class="span6">
        <h4>Exclusion of liability:</h4>

        <p style="text-align: justify">
            We do not accept liability for any damage which may accrue from the use of these websites.
            Contents are reviewed and updated on a regular basis; however, no guarantee for the correctness
            can be given.
        </p>
    </div>
</div>