<!DOCTYPE html>
<div class="content-box" style="min-width: 920px;" data-ng-controller="SurveyStartController">
    <div style="margin:30px;">
        <div class="row">
            <div class="span9 well" style="padding: 50px;">
                <div style="margin-bottom: 12px; overflow: auto">
                    <div class="vcongress-logo-medium" style="float: left"></div>
                </div>
                <div style="margin: 20px 0 10px; border-bottom: 1px solid #eeeeee;"></div>
                <div class="row">
                    <div class="span9" style="text-align: right">
                        <div>
                            <div class="inline" style="margin-right: 20px; cursor: pointer;" data-ng-click="switchLocale(localeDe)">
                                <div class="flag_germany"></div>
                                <div style="text-align: center"><h4 style="margin: 0">Deutsch</h4></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin: 20px 0 10px; border-bottom: 1px solid #eeeeee;"></div>
                <div class="row">
                    <div class="span9" style="float:left">
                        <p>
                            <strong>Anonymous Customer's Question Sheet</strong>
                        </p>

                        <p>
                            Dear Ladies and Gentlemen,
                        </p>
                        <p>
                            We would like to know how your impression of vCongress was. We kindly would like to ask you if you
                            could answer five short questions which help us to improve vCongress.
                        </p>
                        <p>
                            If you did not like something of vCongress, we would kindly ask you to make a
                            more precise description below. This will help us to   improve the process. <br/>
                            All data are anonymous and are only used for internal quality improvement processes.

                        </p>
                        <p>
                            Thank you very much for your help! <br/>
                            Kind regards your vCongress Team
                        </p>
                    </div>
                    <div class="span6" style="margin-left: 150px; margin-top: 20px;">
                        <button class="btn btn-large btn-primary btn-block" type="button" data-ng-click="startSurvey()">Start survey</button>
                    </div>
                    <br/><br/>
                </div>

            </div>
        </div>
    </div>
</div>