<!DOCTYPE html>
<div class="row">
    <div class="span6">
        <h3>Kontakt</h3>
        Postanschrift:
        <br/><br/>
        <address>
            <strong>SciSerTec</strong><br/>
            Dr. Daniel Wicke<br/>
            Hildesheimer Str. 84<br/>
            D-30169 Hannover <br/><br/>
            <abbr title="Phone">P:</abbr> +49 (0)511 - 10 54 894 <br/>
            <abbr title="Fax">F:</abbr> +49 (0)511 - 23 52 797 <br/><br/>
            E-Mail: <a href="mailto:team@scisertec.de">team@scisertec.de</a>
        </address>
        <hr/>
        Geschäftsstelle an der Medizinischen Hochschule Hannover (MHH):
        <br/><br/>
        <address>
            <strong>SciSerTec</strong><br/>
            c/o Kongress- und Veranstaltungsmanagement<br/>
            Gebäude W2B (Haus B), Ebene 01<br/>
            Carl-Neuberg-Str. 1<br/>
            D-30625 Hannover
        </address>

        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=202687465971232598239.0004d51e9c1e413d6646c&amp;ie=UTF8&amp;t=h&amp;ll=52.383452,9.808227&amp;spn=0.002292,0.00456&amp;z=17&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps/ms?msa=0&amp;msid=202687465971232598239.0004d51e9c1e413d6646c&amp;ie=UTF8&amp;t=h&amp;ll=52.383452,9.808227&amp;spn=0.002292,0.00456&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">SciSerTec GbR</a> auf einer größeren Karte anschauen.</small>
    </div>
    <div class="span6">
        <h3>Dr. Daniel Wicke, CEO</h3>

        <div class="daniel_wicke" style="float: left; margin: 0 20px 20px 0;">
        </div>
        <p class="text">
            Dr. Daniel Wicke studierte Molekulare Biotechnologie an der Universität Bielefeld und an der University of
            Sydney in Australien. Nach seinem Studium promovierte er an der Medizinischen Hochschule in Hannover (MHH)
            und am Cincinnati Children's Hospital Medical Center in den USA im Fach Biochemie. Zurzeit arbeitet Daniel
            Wicke als Projektmanager und Business Development Manager in der Hannover Clinical Trial Center GmbH an der
            MHH. Im Jahr 2006 gründete Daniel Wicke die Firma dw-websites, welche heute in dem neuen Unternehmen
            SciSerTec aufgegangen ist.
        </p>
    </div>
    <div class="span6">
        <h3>Malte Bruweleit, IT-Engineer</h3>

        <div class="malte_bruweleit" style="float: left; margin: 0 20px 20px 0;">
        </div>
        <p class="text">
            Malte Bruweleit studierte angewandte Informatik an der Fachhochschule in Hannover und an der Hochschule für
            angewandte Wissenschaften (HAW) in Hamburg. Schwerpunkte seiner Tätigkeit bilden dynamisches Webdesign,
            Softwareentwicklung und Internetsicherheit im Bereich der Life Science. Seit 2008 arbeitete er als
            Entwickler bei dw-websites. 2013 ist Malte Bruweleit als Mitgründer in das neue Unternehmen SciSerTec
            eingestiegen.
        </p>
    </div>
</div>