<!DOCTYPE html>
<div class="content-box" style="min-width: 920px;" data-ng-controller="SurveyStartController">
    <div style="margin:30px;">
        <div class="row">
            <div class="span9 well" style="padding: 50px;">
                <div style="margin-bottom: 12px; overflow: auto">
                    <div class="vcongress-logo-medium" style="float: left"></div>
                </div>
                <div style="margin: 20px 0 10px; border-bottom: 1px solid #eeeeee;"></div>
                <div class="row">
                    <div class="span9" style="text-align: right">
                        <div>
                            <div class="inline" style="margin-right: 20px; cursor: pointer;" data-ng-click="switchLocale(localeEn)">
                                <div class="flag_britain"></div>
                                <div style="text-align: center"><h4 style="margin: 0">English</h4></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin: 20px 0 10px; border-bottom: 1px solid #eeeeee;"></div>
                <div class="row">
                    <div class="span9" style="float:left">

                        <p>
                            <strong>Anonymer Kundenfragebogen</strong>
                        </p>

                        <p>
                            Sehr geehrte Damen und Herren,
                        </p>
                        <p>
                            Wir möchten gerne von Ihnen wissen, wie Ihnen die Anmeldung über vCongress
                            gefallen hat und möchten Sie bitten, uns fünf kurze Fragen zu beantworten, um ggf. unsere Qualität verbessern zu können.
                        </p>
                        <p>
                            Falls Ihnen etwas nicht gefallen hat, möchten wir Sie bitten, dies kurz näher zu beschreiben,
                            damit wir den Prozess optimieren können. <br/>
                            Die Angaben sind anonym und werden nur für interne Zwecke der Qualitätsverbesserung verwendet.
                        </p>
                        <p>
                            Vielen Dank für Ihre Hilfe! <br/>
                            Ihr vCongress Team
                        </p>
                    </div>
                    <div class="span6" style="margin-left: 150px; margin-top: 20px;">
                        <button class="btn btn-large btn-primary btn-block" type="button" data-ng-click="startSurvey()">Umfrage starten</button>
                    </div>
                    <br/><br/>
                </div>

            </div>
        </div>
    </div>
</div>