<!DOCTYPE html>
<div class="content-box" style="min-width: 920px;" data-ng-controller="SurveyStartController">
    <div style="margin:30px;">
        <div class="row">
            <div class="span9 well" style="padding: 50px;">
                <div style="margin-bottom: 12px; overflow: auto">
                    <div class="scisertec-logo-medium" style="float: left"></div>
                </div>
                <div style="margin: 20px 0 10px; border-bottom: 1px solid #eeeeee;"></div>
                <div class="row">
                    <div class="span9">
                        <h4>Vorwort von Dr. Tilman Fabian</h4>

                        <div style="float: right; margin: 0 0 0 20px; line-height: 1em;">
                            <div class="tilman_fabian"></div>
                            <div style="font-size: 8px;">
                                Dr.-Ing. Tilman Fabian, Business Manager<br/>
                                Cluster of Excellence REBIRTH<br/>
                                Hannover Medical School
                            </div>
                        </div>
                        <p style="text-align: justify">
                            &bdquo;Ich kenne es aus eigener Erfahrung: Events für eine &bdquo;handvoll&rdquo; Personen und ihren jeweiligen
                            Input (z.B. Text, Präsentation, Publikationen) organisiert man per Hand (z.B. 25 Personen mit
                            einer Excelliste). Für die großen Veranstaltungen (z.B. mehrere hundert Personen) geht das nicht
                            mehr und man kauft sich – für nicht zu unterschätzende Kosten – professionelle Firmenerfahrung
                            und -unterstützung ein. Und in dem großen Feld dazwischen? Da herrscht in vielen Büros Chaos;
                            zeitintensiv ist die Organisation mindestens. <br/>

                            Über unterschiedliche Veranstaltungen, hier insbesondere einem größeren Kongress vor ein paar
                            Jahren, bekam ich einen Einblick, wie einfach die Organisation bei der Verwendung des richtigen
                            Systems sein kann, sofern dieses einfach(!) auf die eigenen Bedürfnisse(!) zurecht geschnitten
                            werden kann.<br/>

                            Meiner Meinung ist diese regionale Projektförderung für SciSerTec gut angelegt, die genau dies
                            übernehmen wollen und dabei Erfahrung aus der akademischen Welt mitbringen. Diverse Personen aus
                            meinem Hochschulumfeld – mein Team eingeschlossen – werden ein gut entwickeltes und günstiges
                            Kongressmanagement-System für ihre diversen Aktivitäten gut gebrauchen können.&rdquo;
                        </p>

                    </div>

                    <div class="span6" style="margin-left: 150px; margin-top: 20px;">
                        <button class="btn btn-large btn-primary btn-block" type="button" data-ng-click="startSurvey()">Umfrage starten</button>
                    </div>

                    <div class="span9">
                        <br/><br/>
                        <hr/>

                        <h4>
                            Sehr geehrte Professorinnen und Professoren,<br/><br/>
                            Sehr geehrte Damen und Herren,<br/><br/>
                            Liebe Kolleginnen und Kollegen,
                        </h4>

                        <p style="text-align: justify">
                            wir möchten eine Untersuchung durchführen, um die <strong>Kongresslandschaft</strong> von wissenschaftlichen
                            Kongressen und Tagungen im Bereich der Life Science und besonders im Bereich der
                            medizinischen Forschung <strong>in Deutschland zu verbessern</strong>. Die wichtigste Schnittstelle zwischen
                            der angewandten Medizin und der Forschung, ist die Kommunikation zwischen den Forschern.
                            Diese Kommunikation findet in vollendeter Form auf Tagungen und Kongressen statt, auf denen
                            sich die Forscher zu aktuellen Themen austauschen können. Insofern trägt der reibungslose
                            Ablauf eines Kongresses erheblich zur Verbesserung der Qualität von Forschung und Medizin im
                            Allgemeinen bei.
                        </p>
                        <p style="text-align: justify">
                            Zur Entwicklung und zum Aufbau einer Software zur Kongressverwaltung von wissenschaftlichen
                            Kongressen, <strong>speziell im Bereich der Medizin</strong>, wird unser Projekt &bdquo;vCongress&rdquo; von der EU über
                            den europäischen Fonds für regionale Entwicklung
                            (<a href="http://www.scisertec.de/#!/supporter" target="_blank">http://www.scisertec.de/#!/supporter</a>)
                            gefördert.
                        </p>
                        <br/>

                        <h4>Ziel der Untersuchung:</h4>
                        <p style="text-align: justify">
                            Die Untersuchung richtet sich an Veranstalter und an Teilnehmer von wissenschaftlichen
                            Kongressen. Ziel soll es sein, Fallstricke und Probleme herauszufinden, die sich durch IT-
                            und Softwarelösungen verbessern und optimieren lassen. Am Ende soll eine Plattform
                            entstehen, mit deren Hilfe sich <strong>wissenschaftliche Kongresse schnell, effizient und
                            kostengünstig durchführen</strong> lassen, um die Kongresslandschaft im Life Science Bereich in
                            Deutschland nachhaltig optimieren zu können.
                        </p>
                        <br/>

                        <h4>Unsere Bitte:</h4>
                        <p style="text-align: justify">
                            <strong>Schenken Sie uns 10 Minuten Ihrer Zeit</strong> und unterstützen Sie uns als Veranstalter oder
                            Teilnehmer von wissenschaftlichen Kongressen bei der Optimierung von vCongress auf Ihre
                            Bedürfnisse. Beantworten Sie dafür den folgenden online Fragebogen.
                        </p>
                        <br/>

                        <h4>Ihre Vorteile:</h4>
                        <ul>
                            <li>
                                Allen Teilnehmern wird die Auswertung der Untersuchung nach Abschluss automatisch zur
                                Verfügung gestellt.
                            </li>
                            <li>
                                Alle Teilnehmer der Umfrage haben außerdem die Möglichkeit, die fertige Software für die
                                Anmeldung von Teilnehmern (vCongress Register Tool) zu einem wissenschaftlichen Kongress
                                Ihrer Wahl kostenlos zu nutzen.
                            </li>
                        </ul>
                        <br/>

                        <h4>Weitere Hinweise:</h4>
                        <p style="text-align: justify">
                            Wir würden uns freuen, wenn Sie auch Ihre <strong>Kollegen/innen</strong>, die einen Kongress oder eine
                            Tagung organisieren wollen, <strong>über diese Umfrage informieren</strong>. Hierdurch können sie positiven
                            Einfluss auf die noch reibungslosere Planung und die Durchführung der eigenen Veranstaltung
                            nehmen.
                        </p>
                        <p style="text-align: justify">
                            Die Untersuchung läuft zwei Monate, beginnend am 03. Juni und endend am 02. August 2013. Je
                            nach Anzahl der Teilnehmer und Auswertbarkeit der Fragebögen, kann die Fertigstellung der
                            Ergebnisse einige Zeit in Anspruch nehmen. Gerne können Sie sich für Fragen während oder
                            nach der Umfrage an uns wenden.
                        </p>
                        <br/>
                        <p>
                            Wir freuen uns auf Ihre Teilnahme und verbleiben <br/>
                            Mit freundlichen Grüßen<br/>
                            <strong>Dr. Daniel Wicke und Malte Bruweleit</strong>
                        </p>
                        <br/>
                    </div>
                    <div class="span6" style="margin-left: 150px; margin-top: 20px;">
                        <button class="btn btn-large btn-primary btn-block" type="button" data-ng-click="startSurvey()">Umfrage starten</button>
                    </div>
                    <br/><br/>
                </div>

            </div>
        </div>
    </div>
</div>