<!DOCTYPE html>
<div class="row">
    <div class="span12">
        <h3>Impressum</h3>
        <address>
            <strong>SciSerTec GbR</strong><br/>
            Dr. Daniel Wicke<br/>
            Hildesheimer Str. 84<br/>
            D-30169 Hannover
        </address>
        Umsatzsteuer-ID.-Nr.: DE286316494
    </div>
</div>
<hr/>
<div class="row">
    <div class="span6">
        <h4>Haftungshinweis:</h4>

        <p style="text-align: justify">
            Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für
            den Inhalt der verlinkten Webseiten sind ausschließlich deren Betreiber verantwortlich.
        </p>
    </div>
    <div class="span6">
        <h4>Verwendung von Daten:</h4>

        <p style="text-align: justify">
            Die im Impressum und unter Kontakt angegebenen Kontaktdaten sind ausschließlich zur Kontaktaufnahme
            bezüglich inhaltlicher und rechtlicher Themen gedacht. Die Verwendung dieser Daten für werbende Zwecke wird
            ausdrücklich untersagt.
        </p>
    </div>
    <div class="span6">
        <h4>Haftungsausschluss:</h4>

        <p style="text-align: justify">
            Wir übernehmen keine Haftung für Schäden, die im Zusammenhang mit jeglicher Nutzung der Webseiten entstehen.
            Die Inhalte werden nach Möglichkeit regelmäßig überprüft und auf einen aktuellen Stand gebracht, eine Gewähr
            für die Korrektheit kann aber nicht übernommen werden.
        </p>
    </div>
</div>